html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: calc(100% - 200px);
    height: 100%;
}

.params {
	width: 200px;
	height: 100%;
	position: absolute;
	right: 0;
}
